.fashion{
    margin-left: 17%;
    text-decoration: none;
    color: black;
    font-size: x-large;
    font-weight: 400;
}
.fashion:hover{
    color: black;
}
.whole{
    margin-left: 40%;
    text-decoration: none;
    color: black;
    font-size: x-large;
    font-weight: 400;
}
.whole:hover{
    color: black;
}
.electronics{
    margin-left: 20%;
    text-decoration: none;
    color: black;
    font-size: x-large;
    font-weight: 400;
}
.electronics:hover{
    color: black;
}
.mobiles{
    margin-left: 28%;
    text-decoration: none;
    color: black;
    font-size: x-large;
    font-weight: 400;
}
.mobiles:hover{
    color: black;
}
.all{
    display: flex;
    justify-content: space-evenly;
    
}
.card:hover{
    -webkit-transform: scale(1.03);
    -ms-transform: scale(1.03);
    transform: scale(1.03);
}
.card{
    text-decoration: none;
   
}

