.register{
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
  }
  body{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: white;
  
  }
  
  .container{
    background:rgb(121, 104, 182);
    width: 500px;
    min-height: 300px;
    height: fit-content;
    padding: 50px;
    border-radius: 20px;
    box-shadow: 0 0 20px ;
  }
  
  .control label {
    font-weight: bold;
    flex: 1;
    color: #464646;
    margin-bottom: 0.5rem;
    padding: 10px;
  }
  
  .control input {
    flex: 5;
    font: inherit;
    padding: 0.35rem 0.35rem;
    border-radius: 6px;
    border: 1px solid #ccc;
    margin:auto;
  }
  
  .container .username {
    width: 250px;
    height: 35px;
    border-radius: 7px;
    padding: 0 0 0 15px;
    background: rgb(235, 233, 233);
    font-size: large;
    border: 1.5px solid black;
    transition: 4s;
    margin-left: 20px;
  }
  
  .container .phoneNo {
    width: 250px;
    height: 35px;
    border-radius: 7px;
    padding: 0 0 0 15px;
    background: rgb(235, 233, 233);
    font-size: large;
    border: 1.5px solid black;
    transition: 4s;
    margin-top: 5px;
    margin-left: 30px;
  }
  
  .container .email {
    width: 250px;
    height: 35px;
    border-radius: 7px;
    padding: 0 0 0 15px;
    background: rgb(235, 233, 233);
    font-size: large;
    border: 1.5px solid black;
    transition: 4s;
    margin-top: 5px;
    margin-left: 60px;
  }
  
  .container .password {
    width: 250px;
    height: 35px;
    border-radius: 7px;
    padding: 0 0 0 15px;
    background: rgb(235, 233, 233);
    font-size: large;
    border: 1.5px solid black;
    transition: 4s;
    margin-top: 5px;
    margin-left: 26px;
  }
  .password:focus {
    box-shadow: 0 0 30px rgb(29, 48, 41);
  }
  
  .container p{
    margin:  10px 0px 0px 140px;
    opacity: 0.5;
    transition: 0.3s;
  }
  
  .container p span{
    font-size: 22px;
    color: rgb(26, 43, 68);
    margin-left: 45px;
  }
  
  .fa-times{
    opacity: 0;
  }
  .fa-check{
    opacity: 1;
  }
  
  .container p .icon{
    position: absolute;
    text-align: center;
    width: 32px;
    height: 30px;
    font-size: large;
    border-radius: 50%;
    color: rgb(26, 43, 68);
    border: 2px solid rgb(26, 43, 68);
  }
  
  .container #showhide {
    color:rgb(26, 43, 68);
    font-size: 18px;
    transform: translateX(-34px) translateY(1px);
    cursor: pointer;
  }
  .rgstrbtn{
      margin-left: 50%;
      margin-top:20px;
      background-color: rgb(73, 60, 121);
      border-radius: 20px;
      padding: 0.4rem 1rem 0.4rem 1rem ;
  }
  