.register {
  min-width: 100vw;;
 min-height: 100vh;
 background: url("../../assets/register-background.png");
 margin: 0;
 padding: 0;
 border: 0;
 outline: 0;
 box-sizing: border-box;
 font-family: 'Montserrat', sans-serif;
}

.register-box{
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  /* background: white; */

}

.register-container{
  /* background:rgb(121, 104, 182); */
  width: 500px;
  min-height: 300px;
  height: fit-content;
  padding: 50px;
  border-radius: 20px;
  margin-left: 0px;
  padding-top: 8%;
  /* margin-top: 20%; */
  /* box-shadow: 0 0 20px ; */
}

.register-control label {
  font-weight: bold;
  flex: 1;
  color: #aeabab;
  margin-bottom: 0.5rem;
  padding: 10px;
}

.register-control input {
  flex: 5;
  font: inherit;
  padding: 0.35rem 0.35rem;
  border-radius: 6px;
  border: 1px solid #ccc;
  margin:auto;
}

.register-container .register-username {
  width: 250px;
  height: 35px;
  border-radius: 7px;
  padding: 0 0 0 15px;
  background: rgb(235, 233, 233);
  font-size: large;
  border: 1.5px solid black;
  /* border: 1.5px; */
  transition: 4s;
  margin-left: 20px;
}
.register-username:focus {
  box-shadow: 0 0 30px rgb(29, 48, 41);
}

.register-container .register-phoneNo {
  width: 250px;
  height: 35px;
  border-radius: 7px;
  padding: 0 0 0 15px;
  background: rgb(235, 233, 233);
  font-size: large;
  border: 1.5px solid black;
  /* border: 1.5px; */
  transition: 4s;
  margin-top: 5px;
  margin-left: 30px;
}
.register-phoneNo:focus {
  box-shadow: 0 0 30px rgb(29, 48, 41);
}

.register-container .register-email {
  width: 250px;
  height: 35px;
  border-radius: 7px;
  padding: 0 0 0 15px;
  background: rgb(235, 233, 233);
  font-size: large;
  border: 1.5px solid black;
  /* border: 1.5px; */
  transition: 4s;
  margin-top: 5px;
  margin-left: 60px;
}
.register-email:focus {
  box-shadow: 0 0 30px rgb(29, 48, 41);
}

.register-container .register-password {
  width: 250px;
  height: 35px;
  border-radius: 7px;
  padding: 0 0 0 15px;
  background: rgb(235, 233, 233);
  font-size: large;
  border: 1.5px solid black;
  /* border: 1.5px; */
  transition: 4s;
  margin-top: 5px;
  margin-left: 26px;
}
.register-password:focus {
  box-shadow: 0 0 30px rgb(29, 48, 41);
}

.register-container p{
  margin:  10px 0px 0px 140px;
  opacity: 0.5;
  transition: 0.3s;
}

.register-container p span{
  font-size: 22px;
  color: rgb(179, 182, 186);
  margin-left: 45px;
}

.fa-times{
  opacity: 0;
}
.fa-check{
  opacity: 1;
}

.register-container p .icon{
  position: absolute;
  text-align: center;
  width: 32px;
  height: 30px;
  font-size: large;
  border-radius: 50%;
  color: rgb(179, 182, 186);
  border: 2px solid rgb(133, 139, 149);
}

.register-container #showhide {
  color:rgb(26, 43, 68);
  font-size: 18px;
  transform: translateX(-34px) translateY(1px);
  cursor: pointer;
}
.rgstrbtn{
    font-size: 18px;
    margin-left: 40%;
    margin-top:20px;
    background-color: rgb(179, 182, 186);
    border-radius: 20px;
    padding: 0.6rem 1.2rem 0.6rem 1.2rem ;
    cursor: pointer;
}
.rgstrbtn:hover{
  transform: scale(1.01);
  box-shadow: 0px 2px 5px rgb(41, 39, 39);
}
.register-container h1{
  text-align: center;
  margin-bottom: 10%;
  margin-right: 20%;
  color: rgb(219, 226, 233);
 
}